* {
  margin: 0 auto;
  padding: 0;
  background-color: black;
}

h1 {
    color: white;
    font-family: cursive;
    font-size: 4rem;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
    margin: 1rem;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}