* {
  margin: 0 auto;
  padding: 0;
  background-color: black;
}

h1 {
    color: white;
    font-family: cursive;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}